<!DOCTYPE html>
<html>
    <head>
        <!--Importa los iconos-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!--Css de materialize-->
        <link type="text/css" rel="stylesheet" href="assets/materialize/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="assets/materialize/css/index/index.css">
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body >
     
        <h1> HOLA</h1>
    
    
    
    
    
    
        <!--Import jQuery before materialize.js-->
        <script src="http://code.jquery.com/jquery.min.js"></script>
        <script type="text/javascript" scr="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="assets/materialize/js/materialize.min.js"></script>
    </body>
</html>