<!DOCTYPE html>
<html>
    <head>
        <!--Importa los iconos-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Css de materialize-->
        <link type="text/css" rel="stylesheet" href="assets/materialize/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="assets/materialize/css/index/index.css">
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body class="#f5f5f5 grey lighten-3">
     
 
 <div class="row #f5f5f5 grey lighten-3" id="principio">
    <div class="cols m12 s12">
        <div class="row">
            <div class="col s12 m12" id="imagen_bien">
             <img class="responsive-img" src="images/Proyecto3.png">
             
         </div>
        </div>
        <br>
        <div class="row">
            <div class="col s12 m2">
                <a href="/login" id="boton1" class="waves-effect waves-light btn #f44336 red"><i class="material-icons right">send</i>Inicio Sesión</a>
            </div>
            
            <div class="col s12 m3">
                <a href="/signup" id="boton2" class="waves-effect waves-light btn #f44336 red"><i class="material-icons right">send</i>Registro</a>
            </div>
        </div>
    </div>
    <br><br><br><br>
 </div>
   
     


  
  <footer class="page-footer #212121 grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Universidad de La Laguna</h5>
                <p class="grey-text text-lighten-4">Trabajo realizado para la asignatura
                de Desarrollo de Sistemas Informáticos de la ESIT</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contacto</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">alu0100767421@ull.edu.es</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">alu0100782851@ull.edu.es</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">alu0100505009@ull.edu.es</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright #000000 black">
            <div class="container">
            © 2016 Derechos Reservados
            
            </div>
          </div>
        </footer>
    
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" scr="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="assets/materialize/js/materialize.min.js"></script>
   
    </body>
</html>